In [1]:
import pandas as pd
from scipy.stats import pearsonr
from statsmodels.tsa.stattools import adfuller
from sklearn.preprocessing import MinMaxScaler

In [2]:
file_CPI = "USA_CPI_2.xlsx"
data_CPI = pd.read_excel(file_CPI)
df_CPI = pd.DataFrame(data_CPI)
df_CPI

          Date       CPI
0   1963-04-01  0.042191
1   1963-07-01  0.070318
2   1963-10-01  0.056255
3   1964-01-01  0.028127
4   1964-04-01  0.014064
..         ...       ...
237 2022-07-01  1.622809
238 2022-10-01  0.459179
239 2023-01-01  1.311580
240 2023-04-01  1.512268
241 2023-07-01  1.112016

[242 rows x 2 columns]

In [3]:
file_GDP = "USA_GDP_2.xlsx"
data_GDP = pd.read_excel(file_GDP)
df_GDP = pd.DataFrame(data_GDP)
df_GDP

          Date     GDP
0   1963-04-01    7937
1   1963-07-01     711
2   1963-10-01    8420
3   1964-01-01   -5604
4   1964-04-01    7684
..         ...     ...
237 2022-07-01  124953
238 2022-10-01  162300
239 2023-01-01 -154864
240 2023-04-01  255720
241 2023-07-01  125206

[242 rows x 2 columns]

In [4]:
file_PPI = "USA_PPI_2.xlsx"
data_PPI  = pd.read_excel(file_PPI )
df_PPI  = pd.DataFrame(data_PPI )
df_PPI

          Date       PPI
0   1963-04-01 -0.033333
1   1963-07-01  0.133333
2   1963-10-01  0.000000
3   1964-01-01  0.033333
4   1964-04-01 -0.133333
..         ...       ...
237 2022-07-01 -3.031333
238 2022-10-01 -7.867667
239 2023-01-01 -3.385667
240 2023-04-01 -3.840000
241 2023-07-01  2.003667

[242 rows x 2 columns]

In [5]:
file_INT_RATES = "USA_INT_2.xlsx"
data_INT_RATES  = pd.read_excel(file_INT_RATES )
df_INT_RATES = pd.DataFrame(data_INT_RATES )
df_INT_RATES

          Date  Interest Rates
0   1963-04-01        0.070000
1   1963-07-01        0.070000
2   1963-10-01        0.086667
3   1964-01-01        0.060000
4   1964-04-01        0.020000
..         ...             ...
237 2022-07-01        0.176667
238 2022-10-01        0.723333
239 2023-01-01       -0.183333
240 2023-04-01       -0.053333
241 2023-07-01        0.556667

[242 rows x 2 columns]

In [6]:
merged_df_GDP = pd.merge(df_CPI, df_GDP, on='Date')
merged_df_GDP
values_CPI = merged_df_GDP['CPI']
values_GDP = merged_df_GDP['GDP']

correlation_coefficient, p_value = pearsonr(values_CPI, values_GDP)

# Display the results
print(f"Pearson Correlation Coefficient: {correlation_coefficient}")
print(f"P-value: {p_value}")

# Interpret the results
alpha = 0.05  # significance level
if p_value < alpha:
    print("There is a significant correlation.")
else:
    print("There is no significant correlation.")

Pearson Correlation Coefficient: 0.2996742132200286
P-value: 2.061976984592407e-06
There is a significant correlation.

In [7]:
merged_df_PPI= pd.merge(df_CPI, df_PPI, on='Date')
merged_df_PPI
values_CPI = merged_df_PPI['CPI']
values_PPI = merged_df_PPI['PPI']

correlation_coefficient, p_value = pearsonr(values_CPI, values_PPI)

# Display the results
print(f"Pearson Correlation Coefficient: {correlation_coefficient}")
print(f"P-value: {p_value}")

# Interpret the results
alpha = 0.05  # significance level
if p_value < alpha:
    print("There is a significant correlation.")
else:
    print("There is no significant correlation.")

Pearson Correlation Coefficient: 0.8015706267720945
P-value: 1.5751348792494917e-55
There is a significant correlation.

In [8]:
merged_df_INT_RATE= pd.merge(df_CPI, df_INT_RATES, on='Date')
merged_df_INT_RATE
values_CPI = merged_df_INT_RATE['CPI']
values_INT_RATE = merged_df_INT_RATE['Interest Rates']

correlation_coefficient, p_value = pearsonr(values_CPI, values_INT_RATE)

# Display the results
print(f"Pearson Correlation Coefficient: {correlation_coefficient}")
print(f"P-value: {p_value}")

# Interpret the results
alpha = 0.05  # significance level
if p_value < alpha:
    print("There is a significant correlation.")
else:
    print("There is no significant correlation.")

Pearson Correlation Coefficient: 0.2647084838964976
P-value: 3.0296684069933246e-05
There is a significant correlation.

In [9]:
merged_indicators = pd.DataFrame(df_CPI["Date"])

In [10]:
merged_indicators["CPI"] = df_CPI["CPI"]

In [11]:
merged_indicators["GDP"] = df_GDP["GDP"]

In [12]:
merged_indicators["PPI"] = df_PPI["PPI"]

In [13]:
merged_indicators["Interest Rates"] = df_INT_RATES["Interest Rates"]

In [14]:
del merged_indicators['Date']

In [15]:
del merged_indicators['CPI']

In [16]:
merged_indicators["CPI"] = df_CPI["CPI"]

In [17]:
scaler = MinMaxScaler()

In [18]:
normalised_data = scaler.fit_transform(merged_indicators)

In [19]:
indicators = [ "GDP","PPI","Interest Rates","CPI"]
df_normalized = pd.DataFrame(normalised_data, columns=indicators)

In [20]:
date = df_CPI["Date"].to_numpy()
df_normalized.insert(0,"Date",date)

In [46]:

# del df_normalized['PPI']

In [21]:
df_normalized

          Date       GDP       PPI  Interest Rates       CPI
0   1963-04-01  0.425107  0.529196        0.631579  0.430144
1   1963-07-01  0.414541  0.533134        0.631579  0.434695
2   1963-10-01  0.425813  0.529984        0.635756  0.432420
3   1964-01-01  0.405307  0.530771        0.629073  0.427869
4   1964-04-01  0.424737  0.526834        0.619048  0.425594
..         ...       ...       ...             ...       ...
237 2022-07-01  0.596212  0.458369        0.658312  0.685838
238 2022-10-01  0.650822  0.344112        0.795322  0.497600
239 2023-01-01  0.187054  0.449998        0.568087  0.635491
240 2023-04-01  0.787424  0.439264        0.600668  0.667956
241 2023-07-01  0.596582  0.577320        0.753551  0.603208

[242 rows x 5 columns]

In [61]:
excel_file_path = 'normalised_indicators_9.xlsx'

# Save the DataFrame to CSV
df_normalized.to_excel(excel_file_path, index=False)